body{
  margin: 0;
  background-size: 100%;
  text-align: center;
  max-width: 1000px;
  margin: 30px auto 10px;
}
.mainBurger{
position: relative;
background: #ffffff 0% 0% no-repeat padding-box;
border: 8px solid #00B7EE33;
border-radius: 20px;
max-width: 1000px;
margin: 10px auto ;
}

.squareRedButtom{@include squareButtom(red, rgb(138, 26, 26));}

.squareBlueButtom{@include squareButtom( #00A0E9, #0176AB);}

.resetButtom{@include radius40Buttom(#f3f3f3, #D8D8D8, black, $width: 180px, $height: 49px, $font-size: 14px);}
