header{
  padding-top: 40px;
  height: 100px;
  background-color: $bg-alternative-color;
  .logo{
    margin: 0;
    float: left;
    width: 21%;
    h1{font-size: 2em;}
  }
  /* meter Area */
  #meter_area {
  margin-left: 20%;
  position: relative;
  width: 57px;
  height: 24px;
  color: black;
  background: #ffc0c0;
  border-radius: 10px;
  font-size: 15px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #ffc0c0;
    border-bottom: 0;
    margin-left: -8px;
    margin-bottom: -8px;
  }
}
  .progress{
    width: 70%;
    margin: 10px auto;
    margin-left: 21%;
    height: 5px;
    background-color: #838383;
  }
  button{
    float: right;
    margin-right: 140px;
    width: 200px;
    height: 60px;
    font-size: 20px;
    }
}
