#question_area {
    transition: 1s;
    height: 70%;
    #question {
    padding: 10% 0;
  }
  /* button */
  #q_btn {
    overflow: hidden;
    button{
       width: 28%;
       height: 120px;
       font-size: 28px;
    }
  }
  }

#data_area {
  display: none;
}
