main{
      width: 85%;
      margin: auto;
      section{
          float: left;
      }
section div:first-child{
        float: left;
        width: 45%;
        margin: 10px;
}
section div:nth-child(2){
  float: left;
  width: 45%;
  margin: 10px;
}
}
#you_diagnosis {
  #graph {
    width: 100%;
    height: 288px;
    margin: 5px auto;
  }
}
